/* .active {
  border: 2px solid blue;
  border-top: 0;
  border-left: 0;
  border-right: 0;
} */

/* text-gray-300  shadow-sm fixed top-[140px] left-[610px]  w-[15%] p-[30px] bg-[#1f1f1f] opacity-100 z-[50000] flex   flex-col gap-4 */

/* shadow-sm fixed top-[140px] left-[610px] w-[15%] p-[30px] bg-[]  opacity-100 z-[50000]   flex-col gap-4 */
