@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/swiper/swiper.min.css";
/* @import '../node_modules/swiper/components/navigation/navigation.min.css';
@import '../node_modules/swiper/components/pagination/pagination.min.css';
 */
/* about */
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.overlay-about {
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 73%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
}

.forSticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.overlay-about:hover {
  opacity: 1;
}

/* footer  */
.footer-overlay {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: 0.6;
  z-index: 0;
}

/* destination */
.card {
  background: transparent;
  transition: 0.3s;
}

.card:hover {
  background: #00000098;
}

.line:hover {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

/* tour-list page */
.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 20px; /* Adjust the value to align the icon properly */
}

.mantine-1fzet7j {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 17px;
  color: #5c5c5c;
  word-break: break-word;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
}

.mantine-b11773 {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #5c5c5c;
  margin-bottom: 17px;
  word-break: break-word;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
}

.mantine-1ucgt9c {
  border-radius: 0;
}
.mantine-839gn5 {
  border-radius: 0;
}
.mantine-1rb3lhr {
  display: none;
}

.mantine-1yax2h6 {
  border-radius: 0;
}

.custom-select::-ms-expand {
  display: none; /* Remove the default arrow icon in Internet Explorer */
}

.article {
  transition: 3s;
}
.article:hover {
  background: #00000098;
}

.heightForBg {
  height: 158px;
}
@media (min-width: 768px) {
  .heightForBg {
    height: 260.39px;
  }
}
@media (min-width: 1024px) {
  .heightForBg {
    height: 408.19px;
  }
}
